body{
    display: flex;
    justify-self: center;
    width: 100vw;
}

/* card */
.login-card{
    width: 630px;
    background: #fff;
    margin: 50px auto;
    border-radius: 20px;
    padding: 20px 50px;
    box-shadow: 0 5px 10px  rgba(0, 0, 0, 0.1);
display: flex;
align-items: center;
flex-direction: column;
}
.login-card .logo{
    width: 5em;
    align-self: center;
    margin-bottom: 20px;
}
.login-card h4{
    font-size: 21px;
    font-weight: 600;
}
.login-card p{
    font-size: 14px;
    font-weight: 500;
}
.login-info {
    width: 100%;

}
.login-info .input-box{
width: 100%;
background-color: #F5F9FF;
margin: 20px 0;
display: flex;
align-items: center;
justify-content: left;
padding: 15px 15px;
border-radius: 8px;
}

.login-info .input-box input{
    outline: none;
    border: 0;
    background: #00000000;
    flex: 1;
    margin-left: 10px;
}
.login-info .input-box .hide{
    align-self: flex-end;
}
.forget-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.forget-box p{
    font-size: 13px;
    color: #545454;
}
.forget-box a{
    text-decoration: none;
}
.remember-box{

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.remember-box input{ 
    border-radius: 0;
    background: #e8e8e8;
    border: 3px solid #167F71;
  
    /* The outline will be the outer circle */
    outline: 1px solid #fff;
}
.login-action{
    margin: 20px 0;
    min-height: 60px;
    width: 100%;
    background: #0961F5;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 30px;
    border: 0;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    position: relative;
    cursor: pointer;
}
.login-action .imgs{
    position: absolute;
    background: #fff;
    right: 10px;
    height: 45px;
    width: 45px;
    padding: 0px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.other-action{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.other-action p{
    font-size: 16px;
    color: #545454;
}
.other-action .login-other{
    min-width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0 30px 0;
}
.other-action .login-other img{
    cursor: pointer;
    background: #fff;
    box-shadow: 0 5px 10px  rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 50px;
}
.other-action a{
    font-size: 16px;
    font-weight: 600;
    color: #0961F5;
}

@media (max-width: 768px) {
    body{
        display: flex;
        justify-self: center;
    }
/* card */
.login-card{
    width: 99vw;
    background: #F5F9FF;
    margin: 50px 0 0 0 ;
    border-radius: 20px;
    padding: 20px ;
    box-shadow: 0 0 0  rgba(0, 0, 0, 0.1);
display: flex;
align-items: start;
flex-direction: column;
text-align: left;
}
.login-card .logo{
    width: 5em;
    align-self: center;
    margin-bottom: 20px;
}
.login-card h4{
    font-size: 21px;
    font-weight: 600;
}
.login-card p{
    font-size: 14px;
    font-weight: 500;
}
.login-info {
    width: 100%;

}
.login-info .input-box{
width: 100%;
background-color: #fff;
margin: 20px 0;
display: flex;
align-items: center;
justify-content: left;
padding: 15px 15px;
border-radius: 8px;
}

.login-info .input-box input{
    outline: none;
    border: 0;
    background: #00000000;
    flex: 1;
    margin-left: 10px;
}
.login-info .input-box .hide{
    align-self: flex-end;
}
.forget-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.forget-box p{
    font-size: 13px;
    color: #545454;
}
.forget-box a{
    text-decoration: none;
}
.remember-box{

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.remember-box input{ 
    border-radius: 0;
    background: #e8e8e8;
    border: 3px solid #167F71;
  
    /* The outline will be the outer circle */
    outline: 1px solid #fff;
}
.login-action{
    margin: 20px 0;
    min-height: 60px;
    width: 100%;
    background: #0961F5;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 30px;
    border: 0;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    position: relative;
    cursor: pointer;
}
.login-action .imgs{
    position: absolute;
    background: #fff;
    right: 10px;
    height: 45px;
    width: 45px;
    padding: 0px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.other-action{
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.other-action p{
    font-size: 16px;
    color: #545454;
}
.other-action .login-other{
    min-width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0 30px 0;
}
.other-action .login-other img{
    cursor: pointer;
    background: #fff;
    box-shadow: 0 5px 10px  rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 50px;
}
.other-action a{
    font-size: 16px;
    font-weight: 600;
    color: #0961F5;
}
}